// -----------------------------------------------------------------------------
//  Objects > Menu
// -----------------------------------------------------------------------------
.menu-wrapper {
  background-color: $c-violet;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;

  .icon-wrapper {
    border-radius: 50%;
    display: flex;
    height: 35px;
    width: 35px;

    &:hover,
    &:active {
      background-color: $c-light-violet;

      .basket-icon {
        fill: $c-white;
      }
    }

    .basket-icon {
      margin: auto;
    }
  }
}
