// -----------------------------------------------------------------------------
//  Objects > Messages
// -----------------------------------------------------------------------------
//  01. Common
//  02. Error
//  03. Success
// -----------------------------------------------------------------------------

//  01. Common
.message-box {
  font-size: 13px;
  margin: 10px 0;
}

.message-item {
  font-size: 12px;
  margin-bottom: 5px;
}

//  02. Error
.error {
  color: $c-red;
}

//  03. Success
.success {
  color: $c-green;
}
