// -----------------------------------------------------------------------------
//  Objects > Popup
// -----------------------------------------------------------------------------
.popup-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px;
  position: fixed;
  z-index: $z-popup-wrapper;
}

.popup-overlay {
  background-color: $c-popup-overlay;
  cursor: pointer;
  position: absolute;
}

.popup-overlay,
.popup-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
