// -----------------------------------------------------------------------------
//  Components > Slot
//  01. Slot
//  02. Booking Panel
//  03. Workers
// -----------------------------------------------------------------------------
//  01. Slot
.slot {
  @include box-shadow($c-light-violet);

  border: 1px solid $c-gray;
  border-radius: 5px;
  padding: 15px;

  &:hover,
  &:active {
    box-shadow: none;
    cursor: pointer;
  }

  div:first-child {
    margin-bottom: 5px;
  }
}

//  02. Booking Panel
.booking-panel {
  background-color: $c-white;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  z-index: 2;
}

//  03. Workers
.workers-wrapper {
  max-height: 600px;
  overflow: auto;
  padding: 20px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list {
    padding-left: 0;
  }

  .worker-container {
    @include box-shadow($c-violet);

    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
  }

  .rating {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .low {
    color: $c-red;
  }

  .middle {
    color: $c-orange;
  }

  .high {
    color: $c-green;
  }
}
