// -----------------------------------------------------------------------------
//  Settings > Variables
// -----------------------------------------------------------------------------
$c-white: #fff;
$c-black: #000;
$c-gray: #979494;
$c-violet: #813d81;
$c-light-violet: #b587b5;
$c-orange: #f5a818;
$c-green: #2ca72c;
$c-red: #b82828;

$c-popup-overlay: rgba($c-black, 0.9);
