.default-button {
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.primary {
  color: $c-white;
  background-color: $c-violet;

  &:hover,
  &:active {
    background-color: $c-light-violet
  }
}

.secondary {
 border: 1px solid $c-gray;

 &:hover,
  &:active {
    color: $c-white;
    background-color: $c-light-violet
  }
}

.disabled {
  color: $c-white;
  background-color: $c-gray;
}