// -----------------------------------------------------------------------------
//  Elements > Buttons
// -----------------------------------------------------------------------------
.default-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  outline: none;
  padding: 10px;
}

.primary {
  background-color: $c-violet;
  color: $c-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $c-light-violet;
  }
}

.secondary {
  border: 1px solid $c-gray;

  &:hover,
  &:active {
    background-color: $c-light-violet;
    color: $c-white;
  }
}

.disabled {
  background-color: $c-gray;
  color: $c-white;
}
