// -----------------------------------------------------------------------------
//  Elements > Buttons
// -----------------------------------------------------------------------------
.default-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
}

.primary {
  background-color: $c-violet;
  color: $c-white;
  transition: background-color $t-hover linear;

  @media ($hover) {
    &:hover {
      background-color: $c-light-violet;
    }
  }

  &:active {
    background-color: $c-light-violet;
  }
}

.secondary {
  border: 1px solid $c-gray;
  transition: background-color $t-hover linear;

  @media ($hover) {
    &:hover {
      background-color: $c-light-violet;
      color: $c-white;
    }
  }

  &:active {
    background-color: $c-light-violet;
    color: $c-white;
  }
}
